.nav-logo {
  font-family: 'Permanent Marker', cursive;
  margin-left: 2em;
  font-size: 2em;
  font-weight: bold;
}

@media (max-width: 650px) {
  .nav-logo {
    margin-left: 0;
  }
}

.nav-notepad {
  background-color: #663399;
}
